*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #222;
}

.container{
    margin: 0 30vw;
    border: 1px solid gray;
    height: 100vh;
    border-radius: 5px;
    display: grid;
}

fieldset {
    border: 1px solid rgba(128, 128, 128, 0.354);
    font-size: .7rem;
    display: flex;
    padding: 5px;
    justify-content:center;
    gap: 3px;
    margin-bottom: 10px;
}



@media only screen and (max-width : 700px) {
    .container{
        margin: 0 10vw;
    }
}


header{
    height: 35vh;
    background-color: rgba(10, 243, 10, 0.146);
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    align-items: center;
}


#color-box{
    height: 70px;
    width: 150px;
    /* background-color: red; */
    margin: 10px auto;
}

main{
    height: 60vh;
    display: grid;
    justify-items: center;
    gap: 5px;
    padding: 20px 0;
}

#main-h3{
    text-align: center;
}

.art-board{
    border: 1px solid grey;
    padding: 0.3px;
    /* display: inline-block; */
    margin: 0 auto;
}

.row{    
    display: flex;
    border-color: green;
}
.col{
    height: 30px;
    width: 50px;
    /* background-color: red; */
    margin: 0.5px;
    cursor:pointer;
}

#next-back {
    margin-top: 3px;
    text-align: center;
}

#next-back button{
    padding: 10px;
    font-size: 1rem;
}