*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #222;
}

.container{
    margin: 0 30vw;
    border: 1px solid gray;
    height: 100vh;
    border-radius: 5px;
}

@media only screen and (max-width : 700px) {
    .container{
        margin: 0 10vw;
    }
}

header{
    background-color: rgba(10, 243, 10, 0.146);
    text-align: center;
    padding: 20px;
    border-radius: 5px;

}

#color-box{
    height: 70px;
    width: 150px;
    /* background-color: red; */
    margin: 10px auto;
}

main{
    display: grid;
    justify-items: center;
    gap: 10px;
    padding: 20px 0;
}

#art-board{
    border: 1px solid grey;
    padding: 0.3px;
    /* display: inline-block; */
    margin: 0 auto;
}

.row{    
    display: flex;
    border-color: green;
}
.col{
    height: 30px;
    width: 50px;
    /* background-color: red; */
    margin: 0.5px;
    cursor:pointer;
}

#next-back {
    margin-top: 10px;
    text-align: center;
}

#next-back button{
    padding: 10px;
    font-size: large;
}